{% extends 'base.html' %}
{% block title %}
Market Page
{% endblock %}
{% block content %}

<div class="row" style="margin-top:20px; margin-left:20px">
   <div class="col-4">
       <h2>Total Price</h2>
       <br>
      <table class="table table-hover table-dark" id="myTable">
         <thead>
            <tr>
               <!-- Your Columns HERE -->
               <th scope="col">Name</th>
               <th scope="col">qty</th>
               <th scope="col">harga</th>
               <th scope="col">Total Harga</th>
            </tr>
         </thead>
         <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for item in detected %}
            <tr>
               <td>{{ item.nama }}</td>
               <td id="qty_brg">{{ item.qty }}</td>
               <td id="harga_brg" >{{ item.harga }}</td>
               <td id="ttl_hrg">{{ item.qty*item.harga }}</td>
               <!-- <td>
                  <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#Modal-MoreInfo-{{ item.id }}">More Info</button>
                  <button class="btn btn-outline btn-success" data-toggle="modal" data-target="#Modal-PurchaseConfirm-{{ item.id }}">Purchase this Item</button>
               </td> -->
            </tr>
            {% endfor %}
         </tbody>
      </table>


      <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">ID Transaksi</th>
            <th scope="col">Tanggal Transaksi</th>
            <th scope="col">Total Harga</th>
         </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>28-12-2022</td>
            <td id="total_harga"></td>
          </tr>
         <!-- <tr>
            {% for item in detected %}
              <td>1</td>
              <td>28-12-2022</td>
              <td id="grand_total"></td>
              <td>
                <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#Modal-MoreInfo-{{ item.id }}">More Info</button>
                <button class="btn btn-outline btn-success" data-toggle="modal" data-target="#Modal-PurchaseConfirm-{{ item.id }}">Purchase this Item</button>
             </td>
          </tr>
            {% endfor %} -->
        </tbody>
      </table>
      <button data-toggle="modal" class="nav-link" onclick="total()">Purchase this Item</button>

      <!-- <div class="row">
         {% for owned_item in owned_items %}
         {% include 'includes/owned_items_modals.html' %}
           <div class="col-md-6">
               <div style="margin-bottom: 5px" class="card text-center bg-dark">
                    <div class="card-body">
                        <h5 class="card-title">{{ owned_item.name }}</h5>
                        <button type="button" class="btn btn-outline-danger" style="margin-bottom: 5px"
                                data-toggle="modal" data-target="#Modal-SellingConfirm-{{ owned_item.id }}">
                            Sell this Item
                        </button>
                        <p class="card-text"><strong>
                            This item costs {{ owned_item.price }}$
                        </strong></p>
                    </div>
                </div>
           </div>
         {% endfor %}
      </div> -->
   </div>
   <div class="col-8">
        <h2>Scan Products</h2>
        <br>
        <style>
         .button-group, .play-area {
           border: 1px solid grey;
           padding: 1em 1%;
           /* margin-bottom: 1em; */
         }
          
         .button {
           padding: 0.5em;
           margin-right: 1em;
         }
          
         .play-area-sub {
           width: 47%;
           padding: 1em 1%;
           display: inline-block;
           text-align: center;
         }
          
         #capture {
           display: none;
         }
          
         #snapshot {
           display: inline-flex;
           width: 320px;
           height: 240px;
         }
         </style>
         
         <div class="button-group">
           <button id="btn-start" type="button" class="button">Start Streaming</button>
           <button id="btn-stop" type="button" class="button">Stop Streaming</button>
           <button id="btn-capture" type="button" class="button">Capture Image</button>
         </div>

         <div>
          <p><input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;"></p>
          <p><label for="file" style="cursor: pointer;">Upload</label></p>
          <p><img id="output" width="200" /></p>
         </div>

         <div>
          <p><input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;"></p>
          <p><label for="file" style="cursor: pointer;">Predict </label></p>
          <p><img id="output" width="200" /></p>
         </div>
         
         <div class="play-area"> 
           <div class="play-area-sub">
             <h3>The Stream</h3>
             <video id="stream" width="320" height="240"></video>
           </div>
           <div class="play-area-sub">
             <h3>The Capture</h3>
             <canvas id="capture" width="320" height="240"></canvas>
             <div id="snapshot"></div>
           </div>
         </div>
         
         <script src="./node_modules/axios/dist/axios.min.js"></script>
         <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
         <script>
         
         // The buttons to start & stop stream and to capture the image
         var btnStart = document.getElementById( "btn-start" );
         var btnStop = document.getElementById( "btn-stop" );
         var btnCapture = document.getElementById( "btn-capture" );
         var btnPredict = document.getElementById( "btn-predict" );

         
          var loadFile = function(event) {
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
          };
          
         // The stream & capture
         var stream = document.getElementById( "stream" );
         var capture = document.getElementById( "capture" ); //jadi tombol submit
         var snapshot = document.getElementById( "snapshot" );
          
         // The video stream
         var cameraStream = null;
          
         // Attach listeners
         btnStart.addEventListener( "click", startStreaming );
         btnStop.addEventListener( "click", stopStreaming );
         btnCapture.addEventListener( "click", captureSnapshot, saveImage); 
          //  bikin jadi tombol upload, masukin value base 64 
          //  masukin ke field input, 
          //  
          
         // Start Streaming
         function startStreaming() {
          
         var mediaSupport = 'mediaDevices' in navigator;
          
         if( mediaSupport && null == cameraStream ) {
          
         navigator.mediaDevices.getUserMedia( { video: true } )
         .then( function( mediaStream ) {
          
         cameraStream = mediaStream;
          
         stream.srcObject = mediaStream;
          
         stream.play();
         })
         .catch( function( err ) {
          
         console.log( "Unable to access camera: " + err );
         });
         }
         else {
         alert( 'Your browser does not support media devices.' );
         return;
         }
         }
          
         // Stop Streaming
         function stopStreaming() {
          
         if( null != cameraStream ) {
          
         var track = cameraStream.getTracks()[ 0 ];
          
         track.stop();
         stream.load();
          
         cameraStream = null;
         }
         }
          
         function captureSnapshot() {
          
         if( null != cameraStream ) {
          
         var ctx = capture.getContext( '2d' );
         var img = new Image();
          
         ctx.drawImage( stream, 0, 0, capture.width, capture.height );
         img.src = capture.toDataURL( "image/png" );
         img.width = 360;
        
         snapshot.innerHTML = '';
          
         snapshot.appendChild( img );
         }
         }

         function saveImage() {
          // Get a reference to the image element
          var elephant = document.getElementById("elephant");

          // Take action when the image has loaded
          elephant.addEventListener("load", function () {
              var imgCanvas = document.createElement("canvas"),
                  imgContext = imgCanvas.getContext("2d");

              // Make sure canvas is as big as the picture
              imgCanvas.width = elephant.width;
              imgCanvas.height = elephant.height;

              // Draw image into canvas element
              imgContext.drawImage(elephant, 0, 0, elephant.width, elephant.height);

              // Get canvas contents as a data URL
              var imgAsDataURL = imgCanvas.toDataURL("image/png");

              // Save image into localStorage
              try {
                  localStorage.setItem("elephant", imgAsDataURL);
              }
              catch (e) {
                  console.log("Storage failed: " + e);
              }
          }, false); 
         }
        //  var harga_val = parseInt(0);
        //  var qty_brg = parseInt(document.getElementById('qty_brg').innerHTML);
        //     var harga_brg = document.getElementById('harga_brg').innerHTML;
        //     var total_harga = parseInt(document.getElementById('ttl_hrg').innerHTML);
        //     var grand_total = harga_val+total_harga;
        //  function total() {
           
            
        //     document.getElementById('total_harga').innerHTML = 0;
        //     console.log(grand_total)
        //     return qty_brg;
        //   }
        // function updateSubTotal() {
        //   var table = document.getElementById("myTable");
        //   let subTotal = Array.from(table.rows).slice(1).reduce((total, row) => {
        //   return total + parseFloat(row.cells[1].innerHTML);
        //   }, 0);
        //   document.getElementById("total_harga").innerHTML = subTotal.toFixed(2);
        // }
          var table = document.getElementById("myTable");
          let subTotal = Array.from(table.rows).slice(1).reduce((total, row) => {
          return total + parseFloat(row.cells[3].innerHTML);
          }, 0);
          document.getElementById('total_harga').innerHTML = subTotal.toFixed(0);






          const getUsers = () => {
          axios.get('https://reqres.in/api/users')
          .then(response => {
            const users = response.data.data;
            console.log(`GET users`, users);
          })
          .catch(error => console.error(error));
          };
          getUsers();



          //POST Gambar
          const createUser = (user) => {
          axios.post('https://reqres.in/api/users', user)
          .then(response => {
          const addedUser = response.data;
          console.log(`POST: user is added`, addedUser);
          // append to DOM
          appendToDOM([addedUser]);
          })
          .catch(error => console.error(error));
          };



          const axios = require("axios");
          const fs = require("fs");

          const image = fs.readFileSync("YOUR_IMAGE.jpg", {
              encoding: "base64"
          });

          axios({
              method: "POST",
              url: "https://detect.roboflow.com/items-pg4nl/7",
              params: {
                  api_key: "JUkO64L0jyCRuMqUO9CW"
              },
              data: image,
              headers: {
                  "Content-Type": "application/x-www-form-urlencoded"
              }
          })
          .then(function(response) {
              console.log(response.data);
          })
          .catch(function(error) {
              console.log(error.message);
          });
         </script>
   </div>
</div>
{% endblock %}