{% extends 'base.html' %}
{% block title %}
Market Page
{% endblock %}
{% block content %}

<div class="row" style="margin-top:20px; justify-content: center;">
   <div class="col-11">
       <h2>DATA PRODUK</h2>
       <!-- <p>Click on one of the items to start buying</p> -->
       <br>
      <table class="table table-hover table-dark">
         <thead>
            <tr>
               <!-- Your Columns HERE -->
               <th scope="col">ID Produk </th>
               <th scope="col">Nama Produk</th>
               <th scope="col">Harga Satuan </th>
               <th scope="col">Jumlah Stok</th>
            </tr>
         </thead>
         <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for item in allbarang %}
            {% include 'includes/items_modals.html' %}
            <tr>
               <td>{{ item.barangID }}</td>
               <td>{{ item.namaBarang }}</td>
               <td>Rp. {{ item.harga}}</td>
               <td>{{ item.totalStok }} </td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
</div>
{% endblock %}