{% extends 'base.html' %}
{% block title %}
Market Page
{% endblock %}
{% block content %}

<div class="row" style="margin-top:20px; justify-content: center;">
   <div class="col-11">
       <h2>LAPORAN</h2>
       <!-- <p>Click on one of the items to start buying</p> -->
       <br>
      <table class="table table-hover table-dark">
         <thead>
            <tr>
               <!-- Your Columns HERE -->
               <th scope="col">ID Laporan</th>
               <th scope="col">Tanggal Laporan</th>
               <th scope="col">Status</th>
               <!-- <th scope="col">Action </th> -->
            </tr>
         </thead>
         <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for laporan in allLaporan %}
            {% include 'includes/items_modals.html' %}
            <tr>
               <td>{{ laporan.lapID }}</td>
               <td>{{ laporan.lapDate}}</td>
               <td>{{ laporan.status}}</td>
               <td>
                <!-- <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#Modal-MoreInfo-{{ item.id }}">Detail</button> -->
               <!-- <a class="btn btn-primary" href="{{ url_for('laporanD_page') }}">Detail</a> -->
             </td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
</div>
{% endblock %}