{% extends 'base.html' %}
{% block title %}
Market Page
{% endblock %}
{% block content %}

<div class="row" style="margin-top:20px; justify-content: center;">
    <div class="col-11">
        <h2>TESTING</h2>
        <!-- <p>Click on one of the items to start buying</p> -->
        <br>
       <table class="table table-hover table-dark">
          <thead>
             <tr>
                <!-- Your Columns HERE -->
                <th scope="col">ID Transaksi</th>
                <th scope="col">Tanggal Transaksi</th>
                <th scope="col">Total Transaksi</th>
                <th scope="col">Action </th>
             </tr>
          </thead>
          <!-- <tbody>
             Your rows inside the table HERE:
             {% for item in allHTrans %}
             {% include 'includes/items_modals.html' %}
             <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.transDate }}</td>
                <td>Rp. {{ item.totalPayment}}</td>
                <td>
                 <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#Modal-MoreInfo-{{ item.id }}">Detail</button>
                <a class="btn btn-primary" href="{{ url_for('laporanD_page') }}">Detail</a>
              </td>
             </tr>
             {% endfor %}
          </tbody> -->
       </table>
    </div>
 </div>
{% endblock %}